* {
	box-sizing: border-box;
}
body {
	margin: 0;
	paddin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #F0F5F7;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 4em;
	background-color: #FFFFFF !important;
	border-bottom: 2px solid #F0F5F7;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 48px;
	padding: 10px;
	font-weight: 700;
}

img {
    display: inline-block;
    margin-left: 728px;
    }

.header .logo {
	color: #2698A1;

}
.side-nav .logo {
    height: 4em;
	background-color: #2698A1;
    width: 18em;
    z-index: 1 !important;
	color: #fff;
    padding: 16px 0px 16px 16px;


}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 32px;

}

.logo span {
	margin-left: 8px;
	text-transform: capitalize;
    height: 18px;
    display: block;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: absolute;
	width: 18em;
	height: 100vh;
	background-color: #F0F5F7;
	z-index: 1;
	display: none;
}

.side-nav.visible {
	display: block;
}

.side-nav p {
    padding: 16px 16px;

    height: 20px;
    width: 256px;
    color: #C2C8CB;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
   /* background-color: #F0F5F7;  */
    display: block;
}

.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	height: 48px;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;


}
.side-nav ul li a {
	color: #2766A1;
	display: block;
	text-decoration: none;
}

.side-nav ul li a:active {
	background-color: #2698A1;
	display: block;
	text-decoration: none;
    opacity: 0.1;
}

.side-nav ul li i {
	color: #2766A1;
    min-height: 24px;
	min-width: 24px;
	text-align: left;
}

.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}

/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	overflow: scroll;
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 2px solid #F0F5F7;
	padding: 26px 16px 2px 16px;
	color: #262626;
	font-size: 16px;
    font-weight: 600;
    line-height: 19px;

}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #35475e;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}

    .side-nav p {
        display: none;
    }
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}

	.side-nav .logo span {
		display: none;

	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
         width: 100%;

	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 18em;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 18em;
        width: 100%;
	}
}

/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;


}

.title {
    margin-top: 1em;
    padding: 26px 16px 2px 16px;
  	height: 3em;
    width: 100%;
	z-index: 3;
    background-color: #FFFFFF !important;
	border-bottom: 2px solid #F0F5F7;

}

.widget {
	/* flex-basis: 300px; */
	flex-grow: 10;
	height: 300px;
    width: 100%;
	margin-top: 1px;
    padding-top: 27px;
    padding-left: 24px;
    padding-right: 3em;
	/* border-radius: 6px; */
	background-color: #ffffff;
	position: relative;
    border-bottom: 2px solid #F0F5F7;
    overflow: hidden;


}

.wrapper{
    margin: 38px 48px 40px 24px;
    height: 114px;
    width: 352px;
    float:left;
    display: block;
    overflow: hidden;

  /*  border: solid 1px black;  */
}

.camp-title {
	color: #303233;
    border-bottom: 4px solid #F0F5F7;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    width: 320px;
    height:48px;
    float: left;

 /*   border: solid 1px black;   */
}

.smbox {
    height: 40px;
    width: 152px;
    margin-top: 26px;
    margin-right:16px;
    float:left;

   /* border: solid 1px black;  */
}

.smwrapper{
    height: 152px;
    width: 96px;
    margin-right: 40px;
    float: left;

/*    border: solid 1px black;   */
}
.smh3{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#797E80;

}
.smchart {
    height: 96px;
    width: 96px;
    margin-top: 12px;
    float:left;

/*    border: solid 1px black;  */


}

.bigchart {
    	height: 112px;
        width: 112px;
        margin: 38px 24px 42px 23px;
        float: left;

/*      background-color: #C2C8CB;
        border: solid 1px black;      */
}

.iconSize {
   fontSize: 24px;
}

.smh3Margin {
   marginTop: 8px;
}

.smchartMargin {
   marginTop: 24px;
}

.smwrapperMargin {
   marginRight: 49px;
}
